* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "AUTHENTICSans-90", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
}

.cabecario {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .cabecario {
    display: none;
  }
}

.logo-header {
  display: flex;
  margin-left: 20px;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  font-weight: 500;

  :first-child {
    color: rgb(161, 157, 150);
  }
}

nav ul {
  display: flex;
  margin-top: 25px;
  margin-left: 460px;
  font-size: 18px;
  list-style: none;
}

nav ul li {
  margin-right: 50px;
  font-weight: 500;
}

nav ul li:hover {
  border-bottom: 05px solid blue;
}

.nav-cabecario {
  display: flex;
}

.nav1-cabecario {
  margin-left: 30px;
  font-size: 14px;
  padding: 05px 30px 07px 07px;
  background-color: blue;
  color: white;
  width: 100px;
}

.nav2-cabecario {
  margin-right: 10px;
  margin-left: 15px;
  font-size: 14px;
  padding: 05px 30px 07px 07px;
  color: blue;
  background-color: white;
  border: 1px solid blue;
}

.video-header {
  display: flex;
  width: 99.5%;
  height: 400px;
}

video {
  object-fit: cover;
}

.container-apz {
  display: flex;
  margin-left: 100px;
  margin-top: 30px;
  font-size: 38px;
  font-weight: 300;

  h1 {
    font-weight: 400;
  }
}

@media screen and(max-width: 600px) {
  .container-apz {
    display: flex;
    direction: column;
  }
  .apresentacao {
    display: flex;
    direction: column;
  }
}

.apresentacao {
  margin-left: 200px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-top: 30px;
  font-weight: 400;

  .apresentacao-botoes {
    display: flex;

    button {
      border: 1px solid blue;
      padding: 20px 60px 20px 20px;
      margin-top: 30px;
      margin-right: 30px;
      font-size: 16px;
      font-weight: 600;
    }
  }
}

button:first-child {
  background-color: blue;
  color: white;
}

button:last-child {
  background-color: white;
  color: blue;
}

.join-foursquare {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 150px;
}

.grid-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px 100px;
  align-items: center;
}

.grid-item1 {
  display: flex;
  justify-content: center;
}

.grid-item2 {
  display: flex;
  justify-content: center;
}

.grid-item4 {
  display: flex;
  justify-content: center;
}

.grid-item9 {
  display: flex;
  justify-content: flex-end;
}

.grid-item10 {
  display: flex;
  justify-content: center;
}

.solutions-help p:first-child {
  font-size: 18px;
  margin-left: 100px;
  margin-top: 200px;
  letter-spacing: 1px;
}

.solutions-help p + p {
  font-size: 60px;
  margin-right: 400px;
  margin-left: 100px;
  margin-top: 60px;
  font-weight: 300;
}

.built-with-4square {
  display: flex;
  margin-left: 100px;
  direction: column;
}

.built-with-4square img {
  object-fit: cover;
}

.built-with-4square p {
  margin-left: 100px;
  margin-top: 60px;
  font-size: 18px;
  margin-right: 180px;

  &:first-child {
    letter-spacing: 1px;
  }
}

.built-with-4square p:nth-child(2) {
  margin-left: 100px;
  margin-top: 20px;
  font-size: 44px;
}

.built-with-4square p:nth-child(3) {
  margin-top: 20px;
}

.built-with-4square p:nth-child(4) {
  margin-top: 20px;
}

.link-built-with-4square {
  margin-top: 20px;
  text-decoration: none;
  margin-bottom: 90px;
  letter-spacing: 1px;
  font-weight: 500;

  a:first-child {
    text-decoration: none;
    background-color: white;
    margin-left: 100px;
    font-size: 17px;
    color: blue;
  }
  a:nth-child(2) {
    text-decoration: none;
    border-style: none;
    margin-left: 30px;
    color: blue;
  }

  a:nth-child(3) {
    text-decoration: none;
    color: blue;
    border-style: none;
    margin-left: 30px;
  }
}

.data-for-analytics {
  display: flex;
  direction: column;
  margin-top: 180px;
  margin-right: 100px;
}

.data-for-analytics {
  object-fit: cover;
}

.data-for-analytics p {
  margin-left: 100px;
  margin-top: 60px;
  font-size: 17px;
  margin-right: 180px;
}

.data-for-analytics p:nth-child(2) {
  margin-left: 100px;
  margin-top: 20px;
  font-size: 40px;
}

.data-for-analytics p:nth-child(3) {
  margin-top: 20px;
}

.data-for-analytics p:nth-child(4) {
  margin-top: 20px;
}

.effectively-advertise {
  display: flex;
  margin-left: 100px;
  direction: column;
  margin-top: 180px;
  margin-left: 100px;
}

.effectively-advertise img {
  object-fit: cover;
}

.effectively-advertise p {
  margin-left: 100px;
  margin-top: 60px;
  font-size: 17px;
  margin-right: 180px;
}

.effectively-advertise p:nth-child(2) {
  margin-left: 100px;
  margin-top: 20px;
  font-size: 40px;
}

.effectively-advertise p:nth-child(3) {
  margin-top: 20px;
}

.effectively-advertise p:nth-child(4) {
  margin-top: 20px;
}

.media-managed-services {
  display: flex;

  direction: column;
  margin-top: 180px;
  margin-right: 100px;
}

.media-managed-services {
  object-fit: cover;
}

.media-managed-services p {
  margin-left: 100px;
  margin-top: 60px;
  font-size: 17px;
  margin-right: 180px;
}

.media-managed-services p:nth-child(2) {
  margin-left: 100px;
  margin-top: 20px;
  font-size: 40px;
}

.media-managed-services p:nth-child(3) {
  margin-top: 20px;
}

.media-managed-services p:nth-child(4) {
  margin-top: 20px;
}

.contact-us {
  display: flex;
  direction: column;
  background-color: rgb(42, 42, 245);
  width: 87%;
  height: wrap;
  margin-left: 60px;
  margin-top: 180px;
}

.contact-us-inner {
  margin-left: 30px;
  margin-right: 360px;
  font-size: 40px;
  color: white;
  margin-bottom: 40px;
}

.contact-us-inner a {
  border-style: none;
  font-size: 16px;
  text-decoration: none;
  background-color: white;
  padding: 15px 60px 15px 15px;
  color: blue;
  font-weight: 500;
}

.explore-places {
  font-size: 55px;
  font-weight: 300;
  margin-left: 100px;
  margin-right: 500px;
  margin-top: 180px;
}

.city-places {
  display: flex;
  height: 700px;
  background-image: url("https://images.ctfassets.net/exg8oyvb0wfw/5fs2JIWMXbdtB6R6sWdoVs/477f592095dfd5783234df988be763a9/xiang-ji-AR8XAYZVB7Q-unsplash__1_.jpg?w=1920&q=75");
}

.inner-city-places {
  background-color: black;
  height: 280px;
  width: 850px;
  margin-top: 230px;
  margin-left: 40px;
}

.inner-city-places p:first-child {
  color: white;
  font-size: 18px;
  margin-left: 90px;
  margin-top: 25px;
  letter-spacing: 1px;
}

.inner-city-places p:last-child {
  color: white;
  font-size: 50px;
  font-weight: 500;
  margin-left: 90px;
  margin-right: 100px;
  box-shadow: inset 0 -15px 0 0 #33f;
}

.inner-city-places p:last-child:hover {
  transition: box-shadow 0.2s;
  box-shadow: inset 0 -120px 0 0 #33f;
}

footer {
  display: flex;
  margin-left: 100px;
}

.box-footer {
  display: flex;
  justify-content: flex-end;
  margin-left: 990px;
}
